html,
body {
  padding: 0;
  margin: 0;
}

.todo {
  text-align: center;
}

.todo__add-new {
  margin: 20px auto;
  display: inline-block;
  text-align: center;
}

.todo__completed {
  text-decoration: line-through;
}

.todo-filters {
  text-align: center;
}
