html,
body {
  padding: 0;
  margin: 0;
}

.todo {
  text-align: center;
}

.todo-add-new {
  margin: 20px auto;
  display: inline-block;
  text-align: center;
}

.todo__checkbox-done {
  text-align: left;
  float: left;
}

.todo__completed {
  text-decoration: line-through;
}

.todo-filters {
  text-align: center;
}

.todo-filters__top-nav {
  margin-bottom: 3px;
}

.todo-deleted-menu {
  padding: 20px 0;
}

.todo__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  min-height: 48px;
}

.todo__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-menu__link,
.aside-menu__link:active,
.aside-menu__link:focus,
.aside-menu__link:visited,
.aside-menu__link:hover {
  text-decoration: none;
}

.todo__important {
  background-color: rgba(0, 188, 212, .1);
  transition: background-color .3s ease;
}

.todo-items input {
  text-align: center;
}
